@import variables.sass
  
body, input
  font-family: 'RN House Sans', sans-serif
  -webkit-font-smoothing: antialiased
  background-color: $five-path-black
  padding: 16px

*
  box-sizing: border-box

.header
  padding-left: 32px

.main
  border-top: 1px solid $seventy-path-black
  background: #fff
  padding: 24px

label
  font-size: 12px
  display: block
  margin-bottom: 4px

fieldset
  margin-bottom: 32px
  width: 300px

.error__message
  font-size: 12px
  color: $path-red

.search
  display: flex
  align-items: center
  margin-left: -24px

  svg
    position: relative
    left: 32px

  div
    flex: 1 1

  .search__input
    padding-left: 40px

fieldset 
  border: 0

input[type="text"]
  font-size: 16px
  height: 40px
  width: 100%
  border-radius: 2px
  padding: 8px 16px
  border: 1px solid $forty-path-black
  background: white
  color: $seventy-path-black
  transition: all 0.15s ease-in-out

  &:hover
    background: white
    border: 1px solid $path-purple

  &:disabled
    background: $five-path-black
    border: 1px solid $five-path-black
    color: $forty-path-black

  &.error
    background: $path-red-tint
    border: 1px solid $path-red
    box-shadow: none

  &.search__input
    background: white
    border: 1px solid white

  &:hover.search__input
    border: 1px solid $path-purple
    box-shadow: none

  &:focus
    box-shadow: 0 0 0 2px $path-purple
    border: 1px solid white
    outline: 0
    background: white
    
    &.search__input
      box-shadow: 0 0 0 2px $path-purple
      border: 1px solid white
      outline: 0
      background: white

    &.error
      background: $path-red-tint
      border: 1px solid $path-red-tint
      box-shadow: 0 0 0 2px $path-red


.inline-edit
  display: inline-block
  padding: 10px
  margin: 32px 16px
  border: 1px solid white
  &:hover
    border: 1px solid $path-purple
    background: white
    border-radius: 2px
    transition: all 0.2s ease-in-out
  &:focus
    outline: none
    box-shadow: 0 0 0 2px $path-purple
    border: 1px solid white
    background: white
    border-radius: 2px
    transition: all 0.15s ease-in-out


// test resize

.main.wrapper
  display: flex
  flex-wrap: wrap
  max-width: 1200px 
  margin: 0 auto

.main .column
  display: flex
  width: 33.33%
  flex: 1

.reasons-list
  width: 300px
  margin-left: auto
  li
    padding: 16px 0
    h4
      margin: 0 0 5px 0

.column-2
  align-items: center
  justify-content: center
  margin: 0 -10px 0 16px
  
.column-3
  align-items: center

.lines
  max-width: 100%
  height: 70%

.clipboard
  max-width: 100%
  min-width: 240px
  margin-left: -40px