//primary colours
$path-dark-purple: #42145F
$path-purple: #6F2C91
$path-bright-purple: #A900FF
$path-purple-tint: #f0e9f4

// secondary colours
$color-secondary: #00afa9;
$color-secondary-dark: #28818d;

// error and status colours
$path-red: #ff0800;
$path-red-tint: #fff2f2;
$path-green: #83c910;
$path-orange: #ff6d00;

//shades of grey    
$five-path-black: #f2f2f2
$ten-path-black: #e5e5e5
$twenty-path-black: #cccccc
$thirty-path-black: #b2b2b2
$forty-path-black: #999999
$fifty-path-black: #7f7f7f
$sixty-path-black: #666666
$seventy-path-black: #4c4c4c
$eighty-path-black: #333333
$ninety-path-black: #191919