<html>

<head>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>

<body>
    <h2>Path form fields</h2>
    <div class="header">
        <fieldset>
        <div class="search">
            <svg xmlns="http://www.w3.org/2000/svg" class="Icon_svg__kY1Eq" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd" stroke="currentColor"><path stroke-linecap="round" d="M21.0410371,21.0410371 L15.9969482,15.9969482"></path><path d="M10.45766,18.2619317 C12.6104745,18.2619317 14.6225625,17.3866379 16.0851195,15.8649252 C17.4733142,14.4205825 18.2619317,12.5018061 18.2619317,10.45766 C18.2619317,6.14747974 14.7678402,2.65338828 10.45766,2.65338828 C6.14747974,2.65338828 2.65338828,6.14747974 2.65338828,10.45766 C2.65338828,14.7678402 6.14747974,18.2619317 10.45766,18.2619317 Z"></path></g></svg>
            <div><input type="text" class="search__input" placeholder="Search" /></div>
        </div>
        </fieldset>
    </div>
    <div class="main">

        <div class="inline-edit" contenteditable="true">This text can be edited by the user.</div>

        <fieldset>
        <label for="text-field">Email</label>
        <input type="text" />
        </fieldset>
        <fieldset>
        <label for="text-field">Email</label>
        <input type="text" value="This is disabled" disabled />
        </fieldset>
        <fieldset>
        <label for="text-field">Email</label>
        <input type="text" value="pete@path.c" class="error" />
        <div class="error__message">Please use a valid email</div>
        </fieldset>
    </div>

    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>">
    </script>
</body>

</html>