<html>

<head>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>

<body>
    <div class="main wrapper">
        <div class="column column-1">
            <ul class="reasons-list">
                <li>
                    <h4>Title</h4>
                    Enter your employee's details and reasons for creating the case.
                </li>
                <li>
                    <h4>Title</h4>
                    Enter your employee's details and reasons for creating the case.
                </li>
                <li>
                    <h4>Title</h4>
                    Enter your employee's details and reasons for creating the case.
                </li>
                <li>
                    <h4>Title</h4>
                    Enter your employee's details and reasons for creating the case.
                </li>
            </ul>
        </div>
        <div class="column column-2">
            <img src="<%=require('./assets/lines.svg')%>" class="lines">
        </div>
        <div class="column column-3">
            <img src="<%=require('./assets/clipboard.png')%>" class="clipboard">
        </div>
    </div>
</body>

</html> 